node_modules/
dist/
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal
backend/storage/videos/*
backend/storage/licenses/*
!backend/storage/videos/.gitkeep
!backend/storage/licenses/.gitkeep
frontend/dist/
*.log
